# ╭─────────────────────────Commonly Used ImplementationGuide Properties───────────────────────────╮
# │  The properties below are used to create the ImplementationGuide resource. The most commonly   │
# │  used properties are included. For a list of all supported properties and their functions,     │
# │  see: https://fshschool.org/docs/sushi/configuration/.                                         │
# ╰────────────────────────────────────────────────────────────────────────────────────────────────╯
id: hl7.fhir.uv.symptoms
canonical: http://hl7.org/fhir/uv/symptoms
name: Symptoms Data Standards
title: FHIR R4 Symptoms Implementation Guide
description: A guide that details how to capture and exchange Symptoms data in FHIR
status: active # draft | active | retired | unknown
version: 1.0.0-ballot
fhirVersion: 4.0.1 # https://www.hl7.org/fhir/valueset-FHIR-version.html
copyrightYear: 2025+
releaseLabel: STU 1 Ballot
license: CC0-1.0 # https://www.hl7.org/fhir/valueset-spdx-license.html
jurisdiction: http://unstats.un.org/unsd/methods/m49/m49.htm#001 "World" # https://www.hl7.org/fhir/valueset-jurisdiction.html
publisher:
  name: HL7 International / Clinical Interoperability Council
  url: http://www.hl7.org/Special/committees/cic
extension:
  - url: http://hl7.org/fhir/StructureDefinition/structuredefinition-standards-status
    valueCode: trial-use
  - url: http://hl7.org/fhir/StructureDefinition/structuredefinition-fmm
    valueInteger: 1
  - url: http://hl7.org/fhir/StructureDefinition/structuredefinition-wg
    valueCode: cic

dependencies:
  openehr.base:
    id: openehr
    uri: http://openehr.org/fhir/ImplementationGuide/openehr.base
    version: 0.1.0

parameters:
  show-inherited-invariants: false
  apply-publisher: true
  apply-contact: true
  produce-jekyll-data: true
  globals-in-artifacts: true
  pin-canonicals: pin-multiples
  shownav: true
  openehr: true
  path-resource:
    - '/input/archetypes'

pages:
  index.md:
    title: IG Home
  background.md:
    title: Reading This IG
  usecases.md:
    title: Use Cases
  diagnosis.md:
    title: Symptom/Diagnosis Relationship
  profile.md:
    title: Logical Model, OpenEHR Archetype, and FHIR Profile
  acknowledgements.md:
    title: Project and Participants
  conformance.md:
    title: Conformance Expectations
  exchange.md:
    title: Exchange Patterns
  artifact_overview.md:
    title: Artifact Overview
  terminology.md:
    title: Terminology
  changes.md:
    title: Change Log
    
menu:
  Home: index.html
  Background:
    Reading this IG: background.html
    Use Cases: usecases.html
    Symptom/Diagnosis Relationship: diagnosis.html
    Logical Model: profile.html
    Projects and Participants: acknowledgements.html
  Specification:
    Conformance Expectations: conformance.html
    Exchange Patterns: exchange.html
  FHIR Artifacts:
    Overview: artifact_overview.html
    Artifacts: artifacts.html
    Terminology: terminology.html
  Support:
    Discussion Forum: https://chat.fhir.org/#channels/501058/Symptoms.20on.20FHIR
    Project Page: https://confluence.hl7.org/spaces/CIC/pages/324960988/Symptoms+Standardization+Project
    Project Dashboard: https://jira.hl7.org/secure/Dashboard.jspa?selectPageId=18002
    Propose a Change: https://jira.hl7.org/secure/CreateIssueDetails!init.jspa?pid=10405&issuetype=10600&customfield_11302=FHIR-symptoms
  Change Log: changes.html


# ╭──────────────────────────────────────────SUSHI flags───────────────────────────────────────────╮
# │  The flags below configure aspects of how SUSHI processes FSH.                                 │
# ╰────────────────────────────────────────────────────────────────────────────────────────────────╯
# The FSHOnly flag indicates if only FSH resources should be exported.
# If set to true, no IG related content will be generated.
# The default value for this property is false.
#
# FSHOnly: false
#
#
# When set to true, the "short" and "definition" field on the root element of an Extension will
# be set to the "Title" and "Description" of that Extension. Default is true.
#
# applyExtensionMetadataToRoot: true
#
#
# The instanceOptions property is used to configure certain aspects of how SUSHI processes instances.
# See the individual option definitions below for more detail.
#
instanceOptions:
  # When set to true, slices must be referred to by name and not only by a numeric index in order to be used
  # in an Instance's assignment rule. All slices appear in the order in which they are specified in FSH rules.
  # While SUSHI defaults to false for legacy reasons, manualSliceOrding is recommended for new projects.
  manualSliceOrdering: true # true | false
  # Determines for which types of Instances SUSHI will automatically set meta.profile
  # if InstanceOf references a profile:
  #
  # setMetaProfile: always # always | never | inline-only | standalone-only
  #
  #
  # Determines for which types of Instances SUSHI will automatically set id
  # if InstanceOf references a profile:
  #
  # setId: always # always | standalone-only
